/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

body {
  padding: 0 2rem;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  body {
    padding: 0 1rem;
  }
}

body > form,
body > header,
body > div,
body > section {
  max-width: 1240px;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.25rem;
  color: #d04f4f;
}
@media screen and (max-width: 768px) {
  h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.u-turn {
  transform: rotate(180deg);
}

.box-shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin: 2.6rem auto 1.2rem;
  text-align: center;
}
header svg {
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  header svg {
    width: 4.4rem;
    height: 4.4rem;
  }
}

.tags {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  gap: 0.5rem;
}

.filters-container {
  margin: 0 auto 1.6rem;
  position: relative;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .filters-container {
    height: fit-content;
  }
}

.filters {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  color: white;
  font-size: 1.125rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .filters {
    position: static;
    display: flex;
    flex-flow: row wrap;
  }
}

.recipes {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 1.6rem;
  gap: 50px;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.3rem;
  background-color: #e7e7e7;
  width: 100%;
  max-width: calc(33.3333333333% - 33.3333333333px);
}
@media screen and (max-width: 1200px) {
  .card {
    max-width: calc(50% - 25px);
  }
}
@media screen and (max-width: 768px) {
  .card {
    max-width: none;
  }
}
.card > div:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
  background-color: #c7bebe;
  height: 170px;
}

.card-text {
  padding: 1rem;
}
.card-text > div:first-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.25rem;
  white-space: nowrap;
}
.card-text > div:first-child h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}
.card-text > div:nth-child(2) {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  font-size: 0.75rem;
  line-height: 1.2;
}
.card-text > div:nth-child(2) > ul,
.card-text > div:nth-child(2) > div {
  flex-basis: 50%;
}
.card-text > div:nth-child(2) div {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 72px;
}
.card-text li span {
  font-weight: 700;
}

.listbox-container {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.3rem;
  width: fit-content;
  min-width: 170px;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .listbox-container {
    width: 100%;
    max-width: none;
  }
}
.listbox-container > div:first-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}
.listbox-container > div:first-child span {
  font-weight: 700;
  padding: 1rem;
  cursor: pointer;
}
.listbox-container > div:first-child i {
  transition: transform 0.2s ease-out;
  padding: 1rem;
}
.listbox-container input {
  border-radius: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding: 1rem;
  width: 100%;
  border: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
}
.listbox-container input::placeholder {
  color: white;
  opacity: 0.5;
}
.listbox-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-y: auto;
  gap: 0.5rem;
  max-width: 650px;
  max-height: 350px;
  margin: 0.5rem 0 1rem;
}
.listbox-container ul.not-displayed {
  display: none;
}

.option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  padding: 0 1rem;
  line-height: 1.5;
}

form.search-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  border-radius: 0.3rem;
  height: 4rem;
  margin: 0 auto 1.6rem;
  background-color: #e7e7e7;
}
form.search-bar input {
  border-radius: 0.3rem;
  height: 100%;
  flex-grow: 2;
  border: none;
  background-color: #e7e7e7;
  padding: 0 1rem;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
}
form.search-bar button {
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0 1rem;
  padding: 0;
}
form.search-bar svg {
  width: 2.2rem;
  height: 2.2rem;
  min-width: 2.2rem;
}

.tag {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 0.3rem;
  gap: 0.5rem;
  width: fit-content;
  height: min-content;
  background-color: #e7e7e7;
  cursor: pointer;
  padding: 0.5rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap;
}
.tag:last-child {
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
