.listbox-container {
  @include flex(column);
  @include b-r;
  width: fit-content;
  min-width: 170px;
  height: fit-content;

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: none;
  }

  > div:first-child {
    @include flex(row, nowrap);
    justify-content: space-between;
    align-items: baseline;

    span {
      font-weight: 700;
      padding: 1rem;
      cursor: pointer;
    }

    i {
      transition: transform 0.2s ease-out;
      padding: 1rem;
    }
  }

  input {
    @include b-r;
    @include ellipsis;
    display: block;
    padding: 1rem;
    width: 100%;
    border: none;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.125rem;

    &::placeholder {
      color: white;
      opacity: 0.5;
    }
  }

  ul {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    overflow-y: auto;

    gap: 0.5rem;
    max-width: 650px;
    max-height: 350px;
    margin: 0.5rem 0 1rem;

    &.not-displayed {
      display: none;
    }
  }
}

.option {
  @include ellipsis;
  cursor: pointer;
  user-select: none;
  padding: 0 1rem;
  line-height: 1.5;
}
