@mixin flex($flex-direction: row, $flex-wrap: nowrap) {
  display: flex;
  flex-flow: $flex-direction $flex-wrap;
}

@mixin j-cA-i($justify-content: center, $align-items: center) {
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin b-r() {
  border-radius: 0.3rem;
}
