:root {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

body {
  padding: 0 2rem;

  @media screen and (max-width: 768px) {
    padding: 0 1rem;
  }
}

body > form,
body > header,
body > div,
body > section {
  max-width: $max-width;
}
