.u-turn {
  transform: rotate(180deg);
}

.box-shadow {
  box-shadow: 2px 2px 5px rgba(#000000, 0.2);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
